ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  rgba(0,0,0,.0001);
    border-bottom: 1px solid orange;;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: white;
  }

  .navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }