<h4><b>Settlement</b></h4> 
<div class="card">
    <div class="container">
       <div class="row">
           <div class="col-lg-5">
               <button class="btn btn-success btn-sm">Today</button> &nbsp;
               <button class="btn btn-primary btn-sm">Last 7 Days</button> &nbsp;
               <button class="btn btn-danger btn-sm">Last 30 Days</button> &nbsp;
               <button class="btn btn-warning btn-sm">Last 90 Days</button> &nbsp;
               <button class="btn btn-info btn-sm">Custom</button> &nbsp;
           </div>
           <div class="col-lg-6">
              <div class="row">
                  <div class="col-lg-2">
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" 
                        data-toggle="dropdown"> KES
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">KES One</a></li>
                        </ul>
                       </div>
                  </div>
                  <div class="col-lg-1">
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" 
                        data-toggle="dropdown"> <i class="fa fa-download"></i>
                        </button>
                       </div>
                  </div>
              </div>
           </div>
       </div>
       <br>
       <div class="row">
            <div class="col-lg-6">
                <p><b>KES 560,987.00</b> <span style="color: darkviolet;"> Total Available Balance </span></p>
            </div>
            <div class="col-lg-6">
                <button class="btn btn-default btn-xs">Jun 2 - Jun 8 2018</button>
            </div>
       </div>
       <div class="row">
           <div class="col-lg-12">
               <!-- <img 
               style="width: auto; height: 350px;"
               src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQSQzAaJqU_PfVQmanrC3D2op7i2uyuRmds-zMK_zUlahb8C5QJ" 
               alt=""
               class="img-responsive"> -->
               <app-area-chart></app-area-chart>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-3">
               <p style="color: darkorchid;"><b>ACCOUNT BALANCE</b></p>
               <p><b>KES 1,999,999.99</b></p>
           </div>
           <div class="col-lg-3">
                <p style="color: darkviolet;"><b>AVAILABLE AMOUNT TO SETTLE</b></p>
                <p><b>KES 398,009.42</b></p>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-6">
               <p>Last updated 5 Months ago</p>
           </div>
           <div class="col-lg-6">
               <p><a href="">See all transaction <i class="fa fa-arrow-right"></i></a></p>
           </div>
       </div>
    </div>
</div>
<br><br>