<h4><b>Analytics</b></h4> 
<div class="card">
    <div class="container">
       <div class="row">
           <div class="col-lg-5">
               <button class="btn btn-success btn-sm">Today</button> &nbsp;
               <button class="btn btn-primary btn-sm">Last 7 Days</button> &nbsp;
               <button class="btn btn-danger btn-sm">Last 30 Days</button> &nbsp;
               <button class="btn btn-warning btn-sm">Last 90 Days</button> &nbsp;
               <button class="btn btn-info btn-sm">Custom</button> &nbsp;
           </div>
           <div class="col-lg-6">
              <div class="row">
                  <div class="col-lg-2">
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" 
                        data-toggle="dropdown"> KES
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">KES One</a></li>
                        </ul>
                       </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" 
                        data-toggle="dropdown"> Total Volume
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Volume One</a></li>
                        </ul>
                       </div>
                  </div>
                  <div class="col-lg-1">
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" 
                        data-toggle="dropdown"> <i class="fa fa-download"></i>
                        </button>
                       </div>
                  </div>
              </div>
           </div>
       </div>
       <br>
       <div class="row">
            <div class="col-lg-6">
                <p><b>KES 34,050.00</b> <span style="color: darkviolet;"> Total Volume</span></p>
            </div>
            <div class="col-lg-6">
                <button class="btn btn-default btn-xs">Jun 2 - Jun 8 2018</button>
            </div>
       </div>
       <div class="row">
           <div class="col-lg-12">
               <!-- <img 
               style="width: auto; height: 350px;"
               src="https://forum.vuejs.org/uploads/default/original/2X/b/be2ce019f1206712f61214f081a4640053816d2f.png" 
               alt=""
               class="img-responsive"> -->
               <app-pie-chart></app-pie-chart>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-2">
               <p style="color: darkorchid;"><b>ORDERS</b></p>
               <p><b>28</b></p>
           </div>
           <div class="col-lg-2">
                <p style="color: darkviolet;"><b>REVENUE</b></p>
                <p><b>KES 12,670.90</b></p>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-6">
               <p>Last updated 5 Months ago</p>
           </div>
           <div class="col-lg-6">
               <p><a href="">See all transaction <i class="fa fa-arrow-right"></i></a></p>
           </div>
       </div>
    </div>
</div>