<ul>
    <br>
    <button class="baeh btn btn-md btn-default">Baeh Logistics <i class="fa fa-angle-double-down"></i></button>
    <br><br>
    <li><a class="active" href="#home"> <i class="fa fa-check"></i> Activate </a></li>
    <li><a href="#news"><i class="fa fa-bar-chart"></i> Overview </a></li>
    <br>
    <h6> YOUR BUSINESS </h6>
    <li><a routerLink='a'><i class="fa fa-cart-arrow-down"></i> Transactions </a></li>
    <li><a href="#about"><i class="fa fa-money"></i> Settlement </a></li>
    <br>
    <h6> RECEIVE PAYMENTS </h6>
    <li><a href="#contact"><i class="fa fa-fw fa-home"></i> Payment Settings </a></li>
    <li><a href="#contact"><i class="fa fa-shopping-cart"></i> Create Payment </a></li>
    <li><a href="#contact"><i class="fa fa-share-alt"></i> Payment Links </a></li>
    <li><a href="#contact"><i class="fa fa-cart-plus"></i> Bulk Payments </a></li>
    <li><a href="#contact"><i class="fa fa-fax"></i> My Devices </a></li>
    <br>
    <h6> DEVELOPERS </h6>
    <li><a href="#contact"><i class="fa fa-address-book-o"></i> Monitoring </a></li>
    <li><a href="#contact"><i class="fa fa-arrows-alt"></i> API Keys </a></li>
    <li><a href="#contact"><i class="fa fa-calendar"></i> Events </a></li>
    <li><a href="#contact"><i class="fa fa-clock-o"></i> Logs </a></li>
    <br>
    <li><a href="#contact"><i class="fa fa-gear"></i> Settings </a></li>
  </ul>
  
  <div style="margin-left:20%; margin-right: 5%; padding-top: 70px;">
    <app-analytics></app-analytics>
    <br>
    <app-settlement></app-settlement>
  </div>
  